<div class="row top">
    <div class="col-lg-8 col-md-8 col-sm-7 col-left">
        <div class="name"><a href="/">Nicolas Blanco</a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-right">
        <nav>
            <ul class="list-inline" id="menu">
                <li class="{{#if workSection}}active{{/if}}">
                    <a href="/">work</a>
                </li>
                <li class="{{#if blogSection}}active{{/if}}">
                    <a href="/blog">blog</a>
                </li>
                <li>
                    <a href="mailto:nicolas@nicolasblanco.fr">contact</a>
                </li>
                <li class="last">
                    <a href="https://twitter.com/nblanco_fr"><img src="/images/icon/icon-twitter.png" class="social" alt="twitter" /></a>
                    <a href="https://uk.linkedin.com/in/nicolasblanco"><img src="/images/icon/icon-linkedin.png" class="social" alt="linkedin" /></a>
                    <a href="https://github.com/nicolasblanco"><img src="/images/icon/icon-github.png" class="social" alt="github" /></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
