<!DOCTYPE html>
<html>
    {{> head }}
    <body class="">
        <div class="container" id="container">
          {{> nav_bar blogSection=true }}

          <div class="row bottom">
              <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                  <div>
                      <section>

                          {{{ contents }}}

                          <hr>

                      </section>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-5 col-right">
                  <div id="scroll-shadow"></div>
                  <h1 class="visible-xs section-header" id="posts-list">Last articles</h1>
                  <h1 class="visible-xs text-center spacer">___</h1>

                  <section class="blog">

                        {{> nav_article
                          title="Beautify your Rails confirm boxes in a few seconds"
                          date="06/12/2016"
                          category="Ruby"
                          slug="beautify-your-rails-confirm-boxes-in-a-few-seconds"
                          description="Small advertisement for one of my latest small Rails gem..."
                          isNew=true
                        }}
                        {{> nav_article
                          title="Developing a wizard or multi-steps forms in Rails"
                          date="05/12/2016"
                          category="Rails"
                          slug="developing-a-wizard-or-multi-steps-forms-in-rails"
                          description="Develop a form wizard in Rails bound to the session..."
                        }}
                        {{> nav_article
                          title="I'm fed up of your 'coding challenges', here's why..."
                          date="18/10/2016"
                          category="Hiring"
                          slug="im-fed-up-of-your-coding-challenges-heres-why-dot-dot-dot"
                          description="Since I've returned to Europe a few months ago..."
                        }}
                        {{> nav_article
                          title="Contacting freelance developers : you're doing it wrong"
                          date="17/08/2015"
                          category="Freelancer"
                          slug="contacting-freelance-developers-youre-doing-it-wrong"
                          description="After almost 3 years of doing freelance web development, I received quite..."
                        }}
                        {{> nav_article
                          title="The Bad and Good way to email a freelance developer for an employee position"
                          date="17/08/2015"
                          category="Freelancer"
                          slug="the-bad-and-good-way-to-email-a-freelance-developer-for-an-employee-position"
                          description="So you've got an interesting position for a full time employee and spotted a freelance..."
                        }}


                  </section>
                  <!-- <a class="btn btn-default btn-lg btn-block load-more">Load more</a> -->
                  <a class="btn btn-block scroll-top visible-xs">
                      <img src="/images/icon/icon-chevron.png" alt="Scroll top" />
                  </a>
              </div>
          </div>


        </div>

        {{> js }}

    </body>
</html>
